:root {
    /* для CTAs, Focused, Active states, Links, nav-click */
    --primary-brand-color: #4D5AE5;
    /* для Overlays, Shadows, Headings, nav-default*/
    --dark-color: #2E2F42;
    /* для Valid fields, Success messages */
    --success-color: #31D0AA;
    /* для Body text, nav-hover */
    --text-color: #434455;
    /* для Helper text, Deemphasized text */
    --subtle-text-color: #8E8F99;
    /* для Accent color, Hairlines, Subtle backgrounds*/
    --accent-color: #E7E9FC;
    /* для Light mode backgrounds, Light mode Dialogs/alerts*/
    --light-color: #F4F4FD;

    /*NAV-LINKS*/
    /* для nav-default*/
    --nav-defauit: #2E2F42;
    /* для nav-hover*/
    --nav-hover: #434455;
    /* для nav-click*/
    --nav-click: #4D5AE5;

    /*BUTTONS*/
    /* для button--order-default*/
    --button-order-defauit: #4D5AE5;
    /* для button--order-hover*/
    --button-order-hover: #404BBF;
    /* для button--order-click*/
    --button-order-click: #404BBF;

    /*background-color-body*/
    --background-color: #ffffff
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body { 
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    margin: 0 auto;
}
                /* Определяем ширину контейенров для адаптива */
/*
@media (max-width: 479px) {
    body {
        background-color: rgb(167, 59, 59);
    }
}

/* Переход от мобильного к планшету (по макету мобильного) */
/*
@media (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: orange;
    }
}
*/
/* Планшет */
/*
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        background-color: greenyellow;
    }
}
*/
/* Десктоп */
/*
@media (min-width: 1200px) {
    body {
        background-color: rgb(176, 234, 236);
    }
}
*/

/*
.container {
    padding: 0 15px; 
    margin: 0 auto;
}


.container.adaptive {
    max-width: 320px;
}

@media screen and (min-width: 480px) {
.container.adaptive {        
    max-width: 480px;
    }
}

@media screen and (min-width: 768px) {    
    .container.adaptive {
    max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container.adaptive {
    max-width: 1200px;
    }
}
*/

.container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}


@media (max-width: 1199px) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@media (min-width: 1200px) {
.section {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
}

img {
    display: block; max-width: 100%; height: auto
}

                                             /*header*/


                            /* Разметка началась... */

.header-cont {
    display: flex;
    max-width: 1128px;
    padding: 0 15px; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid var(--accent-color);
    /*position: fixed;
    width: 100%;*/
}

/*LOGO*/                

.logo-link {
    display: flex;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);
    text-decoration: none;
    margin-right: 76px;
    justify-items: center;
    align-items: center;
}

@media (max-width: 767px) {
.logo-link {
    margin-top: 24px;
    margin-bottom: 24px;
    }
}

@media (min-width: 768px) {
.logo-link {
    
    }
}
.studio {
    color: var(--dark-color);
}

/*NAV*/

.nav {
    display: flex;
    justify-content: space-between;    
}

.nav.mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding-top: 80px;
}

@media (max-width: 767px) {
    .nav-ul {
        display: none;
    }

    .nav-ul.mobil {
        display: block;
        list-style-type: none;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .nav-ul {
        display: flex;
        width: 261px;
        justify-content: space-between;
        list-style-type: none;
    }

    .nav-ul.mobil {
        display: none;
    }
}

@media (min-width: 1200px) {
    .nav-ul {
        display: flex;
        width: 261px;
        justify-content: space-between;
        list-style-type: none;
    }

    .nav-ul.mobil {
        display: none;
    }
}

.nav-ul .header-link.current {
    color: var(--nav-click);
}

@media (max-width: 767px) {
    .header-link {
        display: block;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--dark-color);
        text-decoration: none;
        margin-bottom: 40px;
        transition-property: color;
    }
}

@media (min-width: 768px) {
    .header-link {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;        
        letter-spacing: 0.02em;
        color: var(--nav-defauit);
        text-decoration: none;
        text-align: center;
        padding: 24px 0;
        transition-property: color;
    }
}

                    /*Анимация на все ссылки*/

.logo-link,
.header-link,
.current::after,
.address-link,
.button-order,
.button-subscribe,
.close,
.sozial-link,
.customers-link,
.filter-button,
.portfolio-link,
.foot-social-link {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.current {
    position: relative;
}


@media (min-width: 768px) {
.header-link.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    bottom: 0;
    transition-property: color;
}
}

.header-link:hover,
.header-link:focus {
    color: var(--nav-click);
}

.header-link:active {
    color: var(--nav-click);
}

/*ADDRESS*/

@media (max-width: 767px) {
    .address {
    display: none;
    }


    .address.mobile-menu {
    display: block;
    margin-right: 0;
    width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
.address {
    display: block;
    list-style-type: none;
    }
}

@media (min-width: 1200px) {
    .address {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        list-style-type: none;
    }
} 

@media (max-width: 767px) {
    .address-link.tel {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--button-order-defauit);
        text-decoration: none;
        transition-property: color;
        margin-bottom: 40px;
    }

    .address-link.mail {
        display: block;    
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--text-color);
        text-decoration: none;
        transition-property: color;
    }
}

@media (min-width: 768px) {
    .address-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;        
        letter-spacing: 0.02em;
        color: var(--text-color);
        text-decoration: none;
        padding: 24px 0;
        transition-property: color;
    }
}

.address-link:hover,
.address-link:focus {
    color: var(--primary-brand-color);
}

                            /*  Burger  */

@media (max-width: 767px) {
    .mobile-menu {
        display: block;
        margin-top: 0.43px;
        margin-right: 2.11px;
    }
}                            

@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.menu-toggle.js-open-menu {
stroke: var(--nav-defauit);
    fill: var(--nav-defauit);
}

.icon-mobile-menu {
    display: block;
    stroke: var(--nav-defauit);
    fill: var(--nav-defauit);
    width: 29.54px;
    height: 18.62px;
}

/* Содрано с из гита, как пример мобильного меню.   ДО --ххх--*/

.menu-toggle {
    height: 24px;
    /*width: 24px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    margin-top: 0;
    margin-right: 0px;
    fill: var(--nav-defauit)
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #404BBF;
}

.mobile-menu {
    display: block;
    justify-content: left;
    list-style: none;
}

.mobile-menu .header-link {
    
}

.mobile-menu .header-link.current {
    color: var(--button-order-hover);
}

.menu-container .sozial-list {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-right: 60px;
    margin-bottom: 40px;
    max-height: 40px;
    flex-basis: calc((100% - 3 * 56px) / 4);
}

.menu-container .sozial-list .sozial-icon {
    width: 24px;
    height: 24px;
}
                                    /* -- ххх --*/


                                        /*main*/

                          /* --- для скрытия заголовков --- */
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


                            /*section order-service*/
.section-order-service {
    
}

@media (min-width: 320px) {
.section-order-service.section {
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    max-width: 1440px; 
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: 480px 432px;
    max-width: 480px;*/
    background-color: var(--nav-defauit);
    margin: 0 auto;
}
}

@media (min-width: 768px) {
.section-order-service.section {
    /*background-size: 768px 436px;
    max-width: 768px;*/
    }
}

@media (min-width: 1200px) {
.section-order-service.section {
    /*background-size: 1440px 600px;
    max-width: 1440px;*/
    }
}

@media (max-width: 767px) {
.order-titel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
    padding: 112px auto 240px;
    }
}

@media (min-width: 768px) {    
.order-titel {   
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
    padding: 112px auto 204px;
    }
}

@media (min-width: 1200px) {
.order-titel {
    padding: 188px auto 292px;
    }
}

@media (min-width: 111px) {
.button-order {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--button-order-defauit);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--background-color);
    align-items: center;
    width: 169px;
    height: 56px;
    margin-top: 72px;
    transition-property: background-color;
    }
}

@media (min-width: 768px) {
.button-order {
    margin-top: 36px;
    }
}

@media (min-width: 1200px) {
.button-order {
    margin-top: 48px;
    }
}

.button-order:hover,
.button-subscribe:hover {
    background-color: var(--button-order-click);
}

/*.button-order:active {
    background-color: var(--button-order-click);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}*/

                                /* Модальное окно */

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(0);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: opasity 500ms, visibility 500ms, transform 500ms;
    transform: scale(1);
    background: rgba(46, 47, 66, 0.4);
    visibility: visible
}

.modal {
    position: relative;
    width: 95vw;
    max-width: 408px;
    /*height: 100%;
    max-height: 584px;*/
    padding: 72px 24px 24px 24px;
    background: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: background-color, fill;
    cursor: pointer;
}

.close:hover {
    background-color: var(--button-order-hover);
}

.close:hover .icon-close {
    background-color: var(--button-order-hover);
    border: none;
    fill: var(--background-color);
}


.menu-container .icon-close {
    width: 24px;
    height: 24px;
}


.icon-close {
    width: 8px;
    height: 8px;
    fill: #000000;
}

.icon-close:hover {
    fill: var(--background-color);
}





                                /* Мобильное меню */

.mobil-backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.mobil-backdrop.is-hidden .burger-menu {
    transform: scale(0);
}

.mobil-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: opasity 500ms, visibility 500ms, transform 500ms;
    transform: scale(1);
    background: rgba(46, 47, 66, 0.4);
    visibility: visible
}

.burger-menu {
    position: relative;
    width: 100%;
    max-width: 428px;
    /*height: 100%;
    max-height: 584px;*/
    padding: 72px 24px 24px 24px;
    background: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close.mobil  {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: 1px solid var(--dark-color);
    border-radius: 50%;
    transition-property: background-color, fill;
    cursor: pointer;
}

.close.mobil:hover {
    background-color: var(--button-order-hover);
}

.close.mobil:hover .icon-close {
    background-color: var(--button-order-hover);
    border: none;
    fill: var(--background-color);
}

.icon-close {
    width: 8px;
    height: 8px;
    fill: #000000;
}

.icon-close:hover {
    fill: var(--background-color);
}








                                    /*----Form----*/

.form-titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 16px;
}

.label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
    margin-top: 8px;
}

.p-label {
    margin-top: 8px;
}

.div-input {
    position: relative;
}

.icon-form {
    width: 18px;
    height: 24px;
    position: absolute;
    left: 11px;
    bottom: 8px;
    margin: 0;
}

.icon-form:focus {
    fill: var(--button-order-defauit);
}

.input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-color: var(--subtle-text-color);
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    padding-left: 38px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.div-input:focus-within {
    fill: var(--button-order-defauit)
}

.div-input:focus,
.input:focus,
.input:focus-visible {
    border-color: var(--button-order-defauit);
    border: 1px solid var(--button-order-defauit);
    outline: none;
}

.input.comment {
    height: 120px;
    width: 100%;
    margin-bottom: 0;
    padding: 8px 16px;
    display: flex;
    text-align: left;
    align-content: baseline;
    resize: none;

}

.input.comment::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.form-policy {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

.check {
    position: relative;
    padding-left: 0px;
}

.check__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: auto;
    
}

.check__box {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 0;
    margin-left: -344px;
    border-radius: 2px;    
    /*background-image: url(<path stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" stroke-width="1.875" d="M3 0.938h18c1.139 0 2.063 0.923 2.063 2.063v18c0 1.139-0.923 2.063-2.063 2.063h-18c-1.139 0-2.063-0.923-2.063-2.063v-18c0-1.139 0.923-2.063 2.063-2.063z"></path>);
    background-image: url('../images/icons.svg#icon-checkbox');*/
    background-image: url('../icon/SVG/icon-checkbox.svg');
}

.check__input:checked +.check__box
/*.check__input:focus +.check__box,
.check__input:checked:focus +.check__box*/ {
    /*background-image: url('../images/icons.svg#icon-checkbox-click');*/
    background-image: url('../icon/SVG/icon-checkbox-click.svg');
}

.p-policy {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #757575;
    padding-left: 24px;
    width: 360px;
}

.a-policy {
    color: var(--button-order-defauit);
}

.signup_form .button-order {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

/*sections*/
.section-titel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize
}

@media (min-width: 1200px) {
.customers .section-titel {
    margin-bottom: 72px;
    }
}




.features {
    padding-bottom: 0;
}


@media (max-width: 767px) {
.features-ul {
    display: block;
    list-style: none;
        }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .features-ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        row-gap: 72px;
        flex-basis: calc((100% - 24px) / 2);
        margin-bottom: 96px;
      }
}

@media (min-width: 1200px) {
    .features-ul {
        display: flex;
        gap: 24px;
        list-style: none;
    }   
}



@media (max-width: 767px) {
    .f-li-titel {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
}
}


@media (min-width: 768px) {
    .f-li-titel {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: left;
        letter-spacing: 0.02em;
    }
}


@media (min-width: 1200px) {
.f-li-titel {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2
}
}

.features-icon {
    display: flex;
    list-style: none;
    height: 112px;
    margin-bottom: 8px;
    gap: 24px
    /*flex-basis: calc((100% - 72px) / 3);*/
}



@media (max-width: 1199px) {
.icon-li {
    display: none;
    }
}


@media (min-width: 1200px) {
.icon-li {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 112px;
    background: var(--light-color);
    border-radius: 4px;
    margin-bottom: 8px; 
    }
}

.icon-features {
    width: 59.72px;
    height: 64px;
    fill: var(--light-color);
}

@media (max-width: 1199px) {
.what-are-we-doing.section {
    display: none;
}
}


@media (min-width: 768px) and (max-width: 1199px) {
    .our-team-links {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
        width: 552px;
        column-gap: 24px;
        list-style-type: none;
    }
}

@media (min-width: 1200px) {
    .what-are-we-doing-links,
    .our-team-links {
        display: flex;
        justify-content: center;
        gap: 24px;
        list-style-type: none;
    }
}


@media (min-width: 1200px) {
    .what-are-we-doing-links {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
}



.what-are-we-doing-links,
.our-team-links,
.portfolio-links {
    margin-top: 72px;
}

.features-li,
.what-are-we-doing-links, 
.css-portfolio {
    list-style-type: none;
    text-decoration-line: none;
    background-color: var(--background-color);
}


@media (max-width: 767px) {
    .f-li {
        display: block;
        margin-bottom: 72px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .f-li {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 8px;
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media (min-width: 1200px) {
    .f-li {
        flex-basis: calc((100% - 72px) / 3);
    }
}

@media (max-width: 767px) {
    .our-team-li {
        display: block;
        margin-top: 72px;
        background-color: var(--background-color);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .our-team-li {
        list-style: none;
        width: calc((100% - 24px) / 2);
        background-color: var(--background-color);
    }
}

@media (min-width: 1200px) {
.our-team-li {
    background-color: var(--background-color);
    width: 264px;
}
}

.our-team-link {
    text-decoration: none;
    display: block;
}




@media (min-width: 300px) and (max-width: 1199px) {
.our-team-text,
.portfolio-text {
    /*width: 264px;*/
    padding: 32px 16px;
}
}

@media (min-width: 1200px) {
    .our-team-text,
    .portfolio-text {
        padding: 32px 16px;
    }
}

.our-team-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-decoration: none;
    list-style-type: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
}
 
.our-team-li .text {
    margin-top: 8px;
}
 
.our-team {
    background-color: var(--light-color);
}

.our-team .text {
    text-align: center;
}

/* Sozials */
.sozial-list {
    display: flex;
    /*gap: 24px;*/
    justify-content: space-between;
    margin-top: 8px;
    list-style-type: none;
}

.sozial-item {
    width: 40px;
    height: 40px;
}

.sozial-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    transition-property: background-color;
}

.sozial-link:hover,
.sozial-link:focus {
    background: var(--button-order-hover);
    transition-property: background-color;
}
.sozial-icon {
    width: 16px;
    height: 16px;
    fill: var(--light-color);
}


/*для всех тегов <p>, кроме белого в футере*/
.features .text,
.our-team .text, 
.portfolio-link .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

@media (min-width: 1200px) {
.customers.section {
    padding-top: 96px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .customers-ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        margin-top: 72px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .customers-ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        margin-top: 72px;
        max-width: 552px;
    }
}

@media (min-width: 1200px) {
    .customers-ul {
        display: flex;
        justify-content: space-between;
        width: 1128px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {    
    .customers-li {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% - 16px) / 2);
        list-style: none;
        width: 168px;
        /*width: calc((100% - 120px) / 6);*/
        height: 88px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .customers-li {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% - 2 * 24px) / 3);
        list-style: none;
        /*width: calc((100% - 120px) / 6);*/
        width: 168px;
        height: 88px;
    }
}


@media (min-width: 1200px) {
.customers-li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-basis: calc((100% - 120px) / 6);
    width: 168px;
    height: 88px;
    }
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    color: var(--subtle-text-color);
    transition-property: color, border-color;
}

.customers-link:hover {
    border-color: 1px solid var(--button-order-hover);
    color: var(--button-order-hover);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

                         /*css для страницы portfolio.html*/

/*.filter-buttons*/
.filter-button {
    padding: 12px 24px;
    background: var(--light-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    order: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--button-order-defauit);
    transition-property: color, background-color, border, box-shadow;
}


    
.filter-button:hover {
    background-color: var(--button-order-hover);
    border-color: var(--button-order-hover);
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
                        
.filter-button:focus {
    background-color: var(--button-order-hover);
    color: var(--background-color);
}

.filter-button.current {
    background-color: var(--button-order-hover);
    color: var(--background-color);
}

@media (max-width: 767px) {
    .portfolio-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        flex-basis: calc((100% - 4 * 24px) / 5);
        list-style: none;
    }
}



@media (min-width: 768px) {
    .portfolio-filter {
        text-decoration-line: none;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-block-end: 0;
    }
}



/* portfolio */

@media (max-width: 768px) {    
    .portfolio-li {
        width: 100%;
        margin-bottom: 48px;
    }

    .portfolio-photo.section {
        padding-bottom: 0;
align-items: center;    }
}


@media (min-width: 768px) and (max-width: 1199px) {    .portfolio-li {
        width: calc((100% - 24px) / 2);
    }
}


@media (min-width: 1200px) {
.portfolio-li {
    width: calc((100% - 48px) / 3);
}
}

@media (max-width: 768px) {
    .portfolio-links {
        list-style-type: none;
        display: block;
        row-gap: 48px;
        width: 360px;
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .portfolio-links {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media (min-width: 1200px) {
    .portfolio-links {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px; 
    }
}

@media (max-width: 767px) {
.portfolio-link {
    border: 1px solid #E7E9FC;
    transition-property: background-color, box-shadow;
    position: relative;
    transition-property: transform;
            width: 360px;
}
}

@media (min-width: 768px) {
.portfolio-link {
    border: 1px solid #E7E9FC;
    transition-property: background-color, box-shadow;
    position: relative;
    transition-property: transform;
}
}

.portfolio-link .text {
    margin-top: 8px;
}

.our-team-li,
.portfolio-link {
    text-decoration: none;
    display: block;
}

.portfolio-link:hover,
.portfolio-link:focus,
.portfolio-filter:active {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: var(--light-color);
    background-color: var(--primary-brand-color);
    padding: 40px 32px 40px 32px;
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-overlay {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color)
}

.portfolio-link:hover .overlay, 
.portfolio-link:focus .overlay {
    transform: translate(0, 0);
    
}

/*только для заголовков h2 со страницы portfolio.html*/
.portfolio-card-titel {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}   

.portfolio-photo {
    padding-top: 96px;
}

                                            /*footer*/

@media (max-width: 1199px) {
    .footer {
    padding-top: 97.5px;
    padding-bottom: 96px;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding-top: 101.5px;
        padding-bottom: 100px;
    }
}

.footer {
    background-color: var(--dark-color);
    margin-left: auto;
    margin-right: auto;
}

/*.foot-logo {
    width: 264px;
    margin-right: 120px;
}*/

@media (max-width: 767px) {
    .footer .logo-link {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer .logo-link {
        margin-left: 0;
        margin-right: 0;
        
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }
}

@media (min-width: 1200px) {
    .footer .logo-link {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    }
}

.footer .studio {
    color: var(--light-color);
    line-height: 1.17;
}

@media (max-width: 767px) {
    .footer .text {
        margin-top: 17.5px;
        /*margin: 17.5px 65px 0 65px;*/
        max-width: 268px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer .text {
        margin-top: 17.5px;
    }
}

@media (min-width: 1200px) {
    .footer .text {
        margin-top: 16px;
    }
}

.footer .text {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

@media (max-width: 767px) {
    .foot-ul {
        display: block;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .foot-ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        flex-basis: calc((100% - 24px) / 2);
        list-style: none;
    }
}

@media (min-width: 1200px) {
    .foot-ul {
        display: flex;
        justify-content: flex-start;
    }
}

.foot-li {
    list-style: none;
}


@media (max-width: 767px) {
.foot-li.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .foot-li.one {
        margin-left: 93px;
        width: 264px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 1200px) {
.foot-li.one {
        width: 264px;
    }
}


@media (max-width: 767px) {
    .foot-li.two {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0 auto;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
.foot-li.two {
}
}


@media (min-width: 1200px) {
.foot-li.two {
    width: 208px;
    margin-left: 120px;
}
}

.foot-social-link:hover {
    background-color: var(--success-color);
}


@media (max-width: 767px) {
    .soc-media-titel {
        text-align: center;
        margin-top: 72px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .soc-media-titel {
        text-align: left;
        margin-left: 93px;
    }

    .social-media .soc-media-titel {
            text-align: left;
            margin-left: 0;
        }
}

.soc-media-titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
    margin-bottom: 16px;
}

/* Sozials */



@media (max-width: 767px) {
.foot-social-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}}


@media (min-width: 768px) and (max-width: 1199px) {
    .foot-social-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .foot-social-list {
display: flex;
    flex-direction: row;
    /*gap: 24px;*/
    justify-content: space-between;
}
}


.foot-social-item {
    width: 40px;
    height: 40px;
    /*flex-basis: calc((100% - 3*16px) / 4);*/
    list-style: none;
}

.foot-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
}

.foot-social-icon {
    width: 24px;
    height: 24px;
    fill: var(--light-color);
}


                /* Форма в футере */

@media (max-width: 767px) {
.foot-form {
        margin: 0 auto;
        display: block;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
.foot-form {
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 1200px) {
.foot-form {
    margin-left: 80px;
}
}

.div-foot-input {
    position: relative;
    max-width: 453px;    
}


@media (max-width: 767px) {    
.input-foot {
            width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {    
.input-foot {    
    margin-left: 93px;
    width: 264px;
}
}

@media (min-width: 1200px) {
.input-foot {   
    width: 264px;
    margin: auto;
 }
}



.input-foot {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;
    color: var(--accent-color)
}

.input-foot:placeholder {
    padding-left: 16px;
}

.input-foot:focus {
    border-color: var(--button-order-defauit);
    outline: none;
}

.button-subscribe {
    position: relative;
    cursor: pointer;
    width: 165px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--button-order-defauit);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding-left: 24px;
    text-align: left;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--background-color);
    transition-property: background-color;
}


@media (max-width: 767px) {
    .button-subscribe {
        display: flex;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .button-subscribe {
        display: flex;
        margin-left: 24px;
        position: absolute;
        left: 357px;
        top: 40px;
    }
}

@media (min-width: 1200px) {
    .button-subscribe {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    }
}



@media (max-width: 767px) {
    .subscribe_form {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
}


@media (min-width: 1200px) {
.subscribe_form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}    
}

.icon-subscribe {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    bottom: 8px;
    margin: 0;
    fill: var(--background-color);
}
